<div class="container">
 	<div class="row">
	 <div class="col-sm-6">
	      <h4>Columna</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non metus vitae nisl pellentesque volutpat. Vestibulum nec nunc sapien. Pellentesque est lorem, efficitur sollicitudin mollis et, pharetra ac dui. Morbi rutrum, metus in facilisis iaculis, nunc sapien accumsan enim, quis elementum metus ante et eros. In suscipit eget nisl vehicula laoreet. Maecenas porttitor, magna lobortis mollis maximus, tortor magna eleifend mi, eget blandit sem eros et sem. Cras ac tellus sed lacus elementum suscipit eu sed nibh. Nullam at enim eu ex varius ultricies. </p>
	  </div>
	<div class="col-sm-6">
	<table class="table table-bordered table-hover table-success">
		<thead class="thead-inverse">
			<tr>
				<th> Encabezado 1</th>
				<th> Encabezado 2</th>
				<th> Encabezado 3</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-danger">
				<td> Dato 1 </td>
				<td> Dato 2 </td>
				<td> Dato 3 </td>
			</tr>
			<tr>
				<td> Dato 1 </td>
				<td> Dato 2 </td>
				<td> Dato 3 </td>
			</tr>
			<tr>
				<td> Dato 1 </td>
				<td> Dato 2 </td>
				<td> Dato 3 </td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>
    
