<div class="row">
<div class="col-md-4 container">
    <div class="container">
        <div class="card">
            <h3 class="card-header text-center bg-primary">Titulo 1</h3>
            <div class="card-block">
                <h4 class="card-title text-center">Datos</h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur deleniti et harum illo inventore ipsum laborum molestiae neque, nesciunt non nostrum perferendis provident quo ratione reiciendis sapiente voluptates voluptatum.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="container">
        <div class="card">
            <h3 class="card-header text-center bg-danger">Titulo 2</h3>
            <div class="card-block">
                <h4 class="card-title text-center">Datos</h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur deleniti et harum illo inventore ipsum laborum molestiae neque, nesciunt non nostrum perferendis provident quo ratione reiciendis sapiente voluptates voluptatum.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="container">
        <div class="card">
            <h3 class="card-header text-center bg-warning">Titulo 3</h3>
            <div class="card-block">
                <h4 class="card-title text-center">Datos</h4>

                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur deleniti et harum illo inventore ipsum laborum molestiae neque, nesciunt non nostrum perferendis provident quo ratione reiciendis sapiente voluptates voluptatum.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
